{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_link') }}" method=post class=add-link>
    <dl>
      <dt>Link:
      <dd><input type=text size=50 name=link>
      <dt>Your Name:
      <dd><input type=text size=30 name=submitter></textarea>
      <dd><input type=submit value=Share>
    </dl>
  </form>
  <ul class=links>
  {% for link in links %}
    <li><h2>{{ link.link|safe }}</h2>{{ link.submitter }}
  {% else %}
    <li><em>Unbelievable.  No links here so far</em>
  {% endfor %}
  </ul>
{% endblock %}